{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <br>
            <br>
            <br> 
        </div>
        <div class="section-title">
            <h2>{{ notis.created }}</h2> <!--Podría ir fecha de la noticia-->
            <p>{{ notis.titulo }}</p> <!-- Titulo de la noticia-->
        </div>

     
        <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
                <div class="tab-pane active show" id="tab-1">
                    <div class="row">
                        <div class="col-lg-8 details order-2 order-lg-1">
                            <img src="{{notis.imagen.url}}" class="" alt="">
                            <p>{{notis.descripcion}}</p>
                            {% if notis.autor %}
                                <p>{{notis.autor}}</p>
                            {% else %}
                                <p>Autor anónimo.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FALTA HACER LA SECCION DE LOS COMENTARIOS + CONTROL DE USUARIO REGISTRADO PARA COMENTAR-->
    </div>
</section><!-- End Specials Section -->


{% endblock contenido %}

{% load static %}


