{% extends "base.html"%}
{% load static %}



{% block contenido %}

	<img class="imagenprincipal" src="{% static 'img/ayudar-a-los-demas2.jpg'%}">

  	<h2 class="titulo">Quienes somos<h2>
   	<h1 class="descripcion">Somos una instancia misionera de la iglesia, próxima a las personas en los barrios más humildes de la ciudad y en la zona rural, con el objetivo de hacer visible la unión entre la fe y la vida. </h1>
    <br>

    <h2>Nuesta mision</h2> 
    <h1 class="objetivo">Formamos parte de la lucha por la Justicia Social, los Derechos Humanos, de Género y de nuestros Pueblos Originarios, llevando adelante obras caritativas y solidarias, articulando el compromiso cristiano.
    </h1>
    <br>
    <h2>Que hacemos</h2>

    <br>

    <div>
        <img class="educacionlogo" src="{% static 'img/educacionlogo.jpg'%}">

        <h1 class="titulosactividades">Educación, Capacitacion y Asesoría​</h1>
        <h1 class="actividades">Educamos, capacitamos, fomentando la lucha por la Justicia Social y la fe, realizando: </h1>
        <h1 class="actividades2">⦁   Talleres de Derechos humanos</h1>
        <h1 class="actividades2">⦁	Talleres sobre Violencia de Género</h1> 
        <h1 class="actividades2">⦁	Talleres sobre Adicciones</h1>
        <h1 class="actividades2">⦁	Talleres de Emprendimiento</h1>
        <h1 class="actividades2">⦁	Huerta Orgánica </h1>

        <img class="Talleres" src="{% static 'img/talleres.jpg'%}">
        <img class="Talleres1" src="{% static 'img/talleres2.jpg'%}">
        <img class="Talleres2" src="{% static 'img/talleres3.jpg'%}">

    </div>
    <br>

    <div>
        <img class="icono_seguridad" src="{% static 'img/icono_seguridad.jpg'%}">

        <h1 class="titulosactividades">Asistencia y acompañamiento</h1>
        <h1 class="actividades">⦁	Charlas sobre inquietudes y problemas de zonas desfavorables para luego llevarlas con la autoridad correspondiente.</h1>
        <h1 class="actividades2">⦁	Encuentros con los Jóvenes.</h1>
        <img class="acompañamiento1" src="{% static 'img/acompañamiento1.jpg'%}">
        <img class="acompañamiento2" src="{% static 'img/acompañamiento2.jpg'%}">


    </div>

    <br>
    <div>
        <img class="eventoslogo" src="{% static 'img/eventoslogo.jpg'%}">

        <h1 class="titulosactividades">Difusión y organizacion de eventos</h1>
        <h1 class="actividades2">⦁   Organizar Fiestas Patronales</h1>
        <img class="eventos1" src="{% static 'img/eventos1.jpg'%}">
        <img class="eventos" src="{% static 'img/eventos2.jpg'%}">
        <img class="eventos" src="{% static 'img/eventos3.jpg'%}">
    </div>

{% endblock contenido %}